# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.so

# Environments
.env
.venv/
venv/
*.env

# Jupyter
.ipynb_checkpoints/

# Data
data/acne04/
data/acne04_coco/
data/dermnet/
data/patches/

# Generated outputs
outputs/

# Model repos
yolov5/
DINO/

# Model weights
*.pt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Kaggle
kaggle.json